/*!
 * ress.css • v2.0.4
 * MIT License
 * github.com/filipelinhares/ress
 */
html {
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4
}

*,:after,:before {
    background-repeat: no-repeat
}

:after,:before {
    text-decoration: inherit;
    vertical-align: inherit
}

* {
    padding: 0;
    margin: 0
}

hr {
    overflow: visible;
    height: 0
}

details,main {
    display: block
}

summary {
    display: list-item
}

small {
    font-size: 80%
}

[hidden] {
    display: none
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

a {
    background-color: transparent
}

a:active,a:hover {
    outline-width: 0
}

code,kbd,pre,samp {
    font-family: monospace,monospace
}

pre {
    font-size: 1em
}

b,strong {
    font-weight: bolder
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

input {
    border-radius: 0
}

[disabled] {
    cursor: default
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

textarea {
    overflow: auto;
    resize: vertical
}

button,input,optgroup,select,textarea {
    font: inherit
}

optgroup {
    font-weight: 700
}

button {
    overflow: visible
}

button,select {
    text-transform: none
}

[role=button],[type=button],[type=reset],[type=submit],button {
    cursor: pointer;
    color: inherit
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

button,input,select,textarea {
    background-color: transparent;
    border-style: none
}

select {
    -moz-appearance: none;
    -webkit-appearance: none
}

select::-ms-expand {
    display: none
}

select::-ms-value {
    color: currentColor
}

legend {
    border: 0;
    color: inherit;
    display: table;
    white-space: normal;
    max-width: 100%
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    color: inherit;
    font: inherit
}

img {
    border-style: none
}

progress {
    vertical-align: baseline
}

@media screen {
    [hidden~=screen] {
        display: inherit
    }

    [hidden~=screen]:not(:active):not(:focus):not(:target) {
        position: absolute!important;
        clip: rect(0 0 0 0)!important
    }
}

[aria-busy=true] {
    cursor: progress
}

[aria-controls] {
    cursor: pointer
}

[aria-disabled=true] {
    cursor: default
}

.v-toast {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 2em;
    overflow: hidden;
    z-index: 1052;
    pointer-events: none
}

.v-toast__item {
    display: inline-flex;
    align-items: center;
    -webkit-animation-duration: .15s;
    animation-duration: .15s;
    margin: .5em 0;
    box-shadow: 0 1px 4px rgba(0,0,0,.12),0 0 6px rgba(0,0,0,.04);
    border-radius: .25em;
    pointer-events: auto;
    opacity: .92;
    color: #fff;
    min-height: 3em;
    cursor: pointer
}

.v-toast__item--success {
    background-color: #28a745
}

.v-toast__item--info {
    background-color: #17a2b8
}

.v-toast__item--warning {
    background-color: #ffc107
}

.v-toast__item--error {
    background-color: #dc3545
}

.v-toast__item--default {
    background-color: #343a40
}

.v-toast__item.v-toast__item--bottom,.v-toast__item.v-toast__item--top {
    align-self: center
}

.v-toast__item.v-toast__item--bottom-right,.v-toast__item.v-toast__item--top-right {
    align-self: flex-end
}

.v-toast__item.v-toast__item--bottom-left,.v-toast__item.v-toast__item--top-left {
    align-self: flex-start
}

.v-toast__text {
    margin: 0;
    padding: .5em 1em;
    word-break: break-word
}

.v-toast__icon {
    display: none
}

.v-toast.v-toast--top {
    flex-direction: column
}

.v-toast.v-toast--bottom {
    flex-direction: column-reverse
}

.v-toast.v-toast--custom-parent {
    position: absolute
}

@media screen and (max-width: 768px) {
    .v-toast {
        padding:0;
        position: fixed!important
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1
    }

    to {
        opacity: 0
    }
}

.v-toast--fade-out {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.v-toast--fade-in-down {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0,100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.v-toast--fade-in-up {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp
}

.fade-enter-active,.fade-leave-active {
    transition: opacity .15s ease-out
}

.fade-enter,.fade-leave-to {
    opacity: 0
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Regular.2d36b1a9.ttf) format("truetype");
    font-style: normal;
    font-weight: 300
}

@font-face {
    font-family: Lato;
    src: url(../fonts/Lato-Bold.85d339d9.ttf) format("truetype");
    font-style: normal;
    font-weight: 600
}

:root {
    --background: #f2f5ff;
    --color: #454545;
    --link: #2070b8;
    --input-color: #454545;
    --btn-main-color: #2070b8
}

.mailfence {
    --background: radial-gradient(79.97% 124.8% at 80.57% 44.85%,rgba(43,212,219,0.243) 0%,rgba(43,212,219,0) 100%) repeat scroll 0% 0%,#0c1142 none repeat scroll 0% 0%;
    --color: #fff
}

.content-panel {
    --background: #fff;
    --color: #454545
}

*,:after,:before {
    box-sizing: inherit
}

:focus {
    outline: none
}

body {
    margin: 0;
    padding: 0;
    font-family: Lato,Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    line-height: 1.4;
    background: var(--background);
    color: var(--color)
}

body.mobile-app {
    background: #fff!important
}

html {
    min-height: 100%
}

input {
    color: var(--input-color)
}

a {
    color: var(--link);
    text-decoration: none
}

a:hover {
    text-decoration: underline
}

h1 {
    font-size: 1.5rem
}

h1,h2 {
    margin-bottom: 1.1rem
}

h2 {
    font-size: 1.25rem
}

.btn {
    display: inline-block;
    cursor: pointer;
    background: var(--btn-main-color);
    color: #fff;
    border-radius: 3px;
    padding: .7rem 1rem;
    text-align: center;
    font-size: 1.1em;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    position: relative
}

.btn-full {
    min-width: 100%
}

.btn.is-disabled {
    opacity: .5
}

.btn:hover {
    text-decoration: none!important
}

.btn:focus,.btn:hover {
    background: #1b5f9b
}

.btn-panel {
    padding-top: 1rem
}

@-webkit-keyframes spinAround {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

@keyframes spinAround {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(359deg)
    }
}

.btn.is-loading {
    color: transparent!important;
    pointer-events: none
}

.btn.is-loading:after {
    -webkit-animation: spinAround .5s linear infinite;
    animation: spinAround .5s linear infinite;
    border: 2px solid #dbdbdb;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 20px;
    width: 20px;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    position: absolute!important
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 1.07rem + 2px);
    padding: .535rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out;
    text-align: left
}

.form-control,.form-control-group {
    border: 1px solid #ced4da;
    border-radius: .25rem
}

.form-control-group .form-control {
    border: none
}

.form-control-group {
    padding-right: .535rem
}

.help {
    display: block;
    font-size: .8rem;
    margin-top: .5rem;
    text-align: left
}

.help.is-danger {
    color: #f14668
}

.form-control-group.is-danger,.form-control.is-danger {
    border-color: #f14668!important
}

.form-control-group.active,.form-control.active,.form-control:focus {
    border-color: #2070b8
}

.form-group {
    margin-bottom: 1.2rem;
    position: relative
}

.form-label {
    margin-bottom: 5px;
    text-align: left;
    font-weight: 600;
    font-size: 15px
}

.loader {
    -webkit-animation: spinAround .5s linear infinite;
    animation: spinAround .5s linear infinite;
    border: 2px solid #2070b8;
    border-radius: 290486px;
    border-right-color: transparent;
    border-top-color: transparent;
    content: "";
    display: block;
    height: 36px;
    width: 36px
}

.loader-ctn {
    display: flex;
    justify-content: center
}

.mobile-app .loader-ctn {
    height: 100vh;
    align-items: center
}

@media screen and (min-width: 769px) {
    .columns:not(.is-desktop) {
        display:flex
    }
}

.columns:not(:last-child) {
    margin-bottom: .75rem
}

.columns {
    margin-left: -.75rem;
    margin-right: -.75rem;
    margin-top: -.75rem
}

.column {
    display: block;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
    padding: .75rem
}

.form-panel,.warn-panel {
    text-align: center
}

.warn-panel {
    background: #ffc107;
    padding: 1em
}

.reg-container {
    max-width: 500px;
    margin: 2rem auto 2rem auto
}

.reg-panel {
    background: var(--background);
    color: var(--color);
    padding: 2rem 3rem;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1),0 1px 2px 0 rgba(0,0,0,.06);
    border-radius: 8px;
    text-align: center;
    position: relative
}

.mobile-app .reg-container {
    max-width: none!important;
    margin: 0!important
}

.mobile-app .reg-panel {
    box-shadow: none!important;
    border-radius: 0!important
}

@media only screen and (max-width: 500px) {
    .reg-container {
        margin-left:10px;
        margin-right: 10px
    }

    .reg-panel {
        padding-left: 20px;
        padding-right: 20px
    }
}

.header {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center
}

.mobile-app .header {
    display: none!important
}

.header .logo-panel img {
    max-height: 50px;
    vertical-align: top
}

.lg-selector {
    align-items: center;
    display: flex;
    position: absolute;
    right: 0;
    top: 2px
}

.header,.lg-selector {
    height: 50px
}

@media only screen and (max-width: 500px) {
    .header {
        justify-content:left
    }
}

.select[data-v-8ec5d10e] {
    display: inline-block;
    max-width: 100%;
    position: relative;
    vertical-align: top;
    height: 2.5em;
    border-radius: 4px
}

.s-icon[data-v-8ec5d10e] {
    align-items: center;
    display: inline-flex;
    font-size: 24px;
    justify-content: center;
    letter-spacing: normal;
    line-height: 1;
    position: absolute;
    right: 0;
    top: 8px;
    text-indent: 0;
    z-index: 0;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgba(0,0,0,.54)
}

.icon-svg[data-v-8ec5d10e] {
    height: 24px;
    width: 24px;
    fill: var(--color)
}

.select select[data-v-8ec5d10e] {
    cursor: pointer;
    display: block;
    font-size: 1em;
    max-width: 100%;
    outline: none;
    text-rendering: auto!important;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid transparent;
    box-shadow: none;
    line-height: 1.5;
    height: 2.5em;
    z-index: 1;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.value[data-v-8ec5d10e] {
    display: block;
    line-height: 1.5;
    padding: calc(.5em - 1px) 0;
    padding-right: 1.5em;
    font-size: 1rem;
    height: 2.5em
}

.friendly-captcha-panel[data-v-9b7ad918] {
    position: relative;
    text-align: left;
    background: #f0f0f0;
    border-radius: 4px
}

.panel-header[data-v-6293ee4b] {
    margin-bottom: 1.75rem
}

.panel-title[data-v-6293ee4b] {
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between
}

.panel-header .title[data-v-6293ee4b] {
    margin: 0;
    font-size: 1.2rem
}

.panel-help[data-v-6293ee4b] {
    margin-top: .6rem
}

.mobile-app .panel-header .panel-title[data-v-6293ee4b] {
    display: none!important
}

.mobile-app .panel-header .panel-help[data-v-6293ee4b] {
    margin-top: 0
}

.panel-help-left[data-v-6293ee4b] {
    text-align: left
}

.back-btn[data-v-6293ee4b] {
    margin-top: 2px
}

.back-btn[data-v-6293ee4b],.rigth-btn[data-v-6293ee4b] {
    width: 30px
}

.back-btn.active svg[data-v-6293ee4b] {
    display: block
}

.back-btn svg[data-v-6293ee4b] {
    cursor: pointer;
    display: none;
    width: 24px;
    height: 24px
}

.eyePwd[data-v-7581b435] {
    cursor: pointer
}

.pwd-form-group[data-v-18ba2f1c] {
    display: flex;
    align-items: center
}

.pwd-form-group .eyePwd[data-v-18ba2f1c] {
    display: flex
}
